.profile-image {
  width: 100%;
  height: 35vh;
  display: block;
  object-fit: cover;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.image-container {
  width: 317px;
  margin: 0 auto;
  background-color: #56627a;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
